@page "/buttons"
<Button Color="Blazorise.Color.Primary">PRIMARY</Button>
<Button Color="Blazorise.Color.Secondary">SECONDARY</Button>
<Button Color="Blazorise.Color.Success">SUCCESS</Button>
<Button Color="Blazorise.Color.Danger">DANGER</Button>
<Button Color="Blazorise.Color.Warning">WARNING</Button>
<Button Color="Blazorise.Color.Info">INFO</Button>
<Button Color="Blazorise.Color.Light">LIGHT</Button>
<Button Color="Blazorise.Color.Dark">DARK</Button>
<Button Color="Blazorise.Color.Link">LINK</Button>
<Button>NONE</Button>
