@page "/"
<ContentHeader>
    <Header>
        Index
    </Header>
</ContentHeader>
<ContentMain>
    <Blazor.AdminLte.Card>
        <Title>Index</Title>
        <Body>
            Content Here
        </Body>
    </Blazor.AdminLte.Card>
</ContentMain>