@page "/"
<ContentHeader>
    <Header>
        Index
    </Header>
</ContentHeader>
<ContentMain>
    <Card>
        <Title>Index</Title>
        <Contents>
            Content Here
        </Contents>
    </Card>
</ContentMain>