@page "/"
<ContentHeader>
    <Header>
        Index
    </Header>
</ContentHeader>
<ContentMain>
    <Card>
        <Title>Index</Title>
        <Body>
            Content Here
        </Body>
    </Card>
</ContentMain>