@page "/simple-link"
<ContentHeader>
    <Header>
        Simple Link
    </Header>
</ContentHeader>
<ContentMain>
    <Card>
        <Title>Some simple link content</Title>
        <Body>Contents</Body>
    </Card>
</ContentMain>
