@page "/bpmn/example"
@namespace Blazorized.AdminLte.Plugins.Shared.Pages
<div style="height: calc(100vh - 115px);">
    <Blazorized.AdminLte.Plugins.Components.BpmnModeler></Blazorized.AdminLte.Plugins.Components.BpmnModeler>
</div>


