@page "/plugins/blazor-monaco-yaml/diff-editor"
    <ContentHeader>
        <Header>
            YAML Diff Editor
        </Header>
    </ContentHeader>
    <ContentMain>
        <Blazor.AdminLte.Card>
            <Title>Under construction</Title>
            <Body>
                Scheduled to be ported to Blazorized.AdminLTE.Plugins
            </Body>
        </Blazor.AdminLte.Card>
    </ContentMain>
