@page "/messages/see-all-messages"
<ContentHeader>
    <Header>
        All Messages
    </Header>
</ContentHeader>
<ContentMain>
    <Blazor.AdminLte.Card>
        <Title>Title</Title>
        <Body>Contents</Body>
    </Blazor.AdminLte.Card>
</ContentMain>
