@page "/messages/see-all-notifications"
<ContentHeader>
    <Header>
        All Notifications
    </Header>
</ContentHeader>
<ContentMain>
    <Blazor.AdminLte.Card>
        <Title>Title</Title>
        <Body>Contents</Body>
    </Blazor.AdminLte.Card>
</ContentMain>
