@namespace Blazorized.AdminLte.Plugins.Shared.Pages
@page "/charts"
<ContentHeader>
    <Header>
        Charts
    </Header>
</ContentHeader>
<ContentMain>
    <Blazor.AdminLte.Card>
        <Title>Bar Charts</Title>
        <Body>
            <Blazor.AdminLte.Row>
                <Blazor.AdminLte.Column Width="Width.Six" Size="Size.Medium">
                    <Blazor.AdminLte.Card HeaderBackgroundColor="Color.Primary" ToolOptions="new CardToolOptions { Collapsable = true}">
                        <Title><Blazor.AdminLte.CardTitle>Horizontal</Blazor.AdminLte.CardTitle></Title>
                        <Header><CardTools /></Header>
                        <Body>
                            <HorizontalBarChartComponent></HorizontalBarChartComponent>
                        </Body>
                    </Blazor.AdminLte.Card>
                </Blazor.AdminLte.Column>
                <Blazor.AdminLte.Column Width="Width.Six" Size="Size.Medium">
                    <Blazor.AdminLte.Card HeaderBackgroundColor="Color.Primary" ToolOptions="new CardToolOptions { Collapsable = true}">
                        <Title><Blazor.AdminLte.CardTitle>Simple</Blazor.AdminLte.CardTitle></Title>
                        <Header><CardTools /></Header>
                        <Body>
                            <SimpleBarChartComponent></SimpleBarChartComponent>
                        </Body>
                    </Blazor.AdminLte.Card>
                </Blazor.AdminLte.Column>
            </Blazor.AdminLte.Row>
            <Blazor.AdminLte.Row>
                <Blazor.AdminLte.Column Width="Width.Six" Size="Size.Medium">
                    <Blazor.AdminLte.Card HeaderBackgroundColor="Color.Primary" ToolOptions="new CardToolOptions { Collapsable = true}">
                        <Title><Blazor.AdminLte.CardTitle>Stacked</Blazor.AdminLte.CardTitle></Title>
                        <Header><CardTools /></Header>
                        <Body>
                            <StackedBarChartComponent></StackedBarChartComponent>
                        </Body>
                    </Blazor.AdminLte.Card>
                </Blazor.AdminLte.Column>
                <Blazor.AdminLte.Column Width="Width.Six" Size="Size.Medium">
                    <Blazor.AdminLte.Card HeaderBackgroundColor="Color.Primary" ToolOptions="new CardToolOptions { Collapsable = true}">
                        <Title><Blazor.AdminLte.CardTitle>Time</Blazor.AdminLte.CardTitle></Title>
                        <Header><CardTools /></Header>
                        <Body>
                            <TimeBarChartComponent></TimeBarChartComponent>
                        </Body>
                    </Blazor.AdminLte.Card>
                </Blazor.AdminLte.Column>
            </Blazor.AdminLte.Row>
        </Body>
    </Blazor.AdminLte.Card>
    <Blazor.AdminLte.Card>
        <Title>Line Charts</Title>
        <Body>
            <Blazor.AdminLte.Row>
                <Blazor.AdminLte.Column Width="Width.Six" Size="Size.Medium">
                    <Blazor.AdminLte.Card HeaderBackgroundColor="Color.Primary" ToolOptions="new CardToolOptions { Collapsable = true}">
                        <Title><Blazor.AdminLte.CardTitle>Linear</Blazor.AdminLte.CardTitle></Title>
                        <Header><CardTools /></Header>
                        <Body>
                            <LinearLineChartComponent></LinearLineChartComponent>
                        </Body>
                    </Blazor.AdminLte.Card>
                </Blazor.AdminLte.Column>
                <Blazor.AdminLte.Column Width="Width.Six" Size="Size.Medium">
                    <Blazor.AdminLte.Card HeaderBackgroundColor="Color.Primary" ToolOptions="new CardToolOptions { Collapsable = true}">
                        <Title><Blazor.AdminLte.CardTitle>Logarithmic</Blazor.AdminLte.CardTitle></Title>
                        <Header><CardTools /></Header>
                        <Body>
                            <LogarithmicLineChartComponent></LogarithmicLineChartComponent>
                        </Body>
                    </Blazor.AdminLte.Card>
                </Blazor.AdminLte.Column>
            </Blazor.AdminLte.Row>
            <Blazor.AdminLte.Row>
                <Blazor.AdminLte.Column Width="Width.Six" Size="Size.Medium">
                    <Blazor.AdminLte.Card HeaderBackgroundColor="Color.Primary" ToolOptions="new CardToolOptions { Collapsable = true}">
                        <Title><Blazor.AdminLte.CardTitle>Time Line</Blazor.AdminLte.CardTitle></Title>
                        <Header><CardTools /></Header>
                        <Body>
                            <TimeLineChartComponent></TimeLineChartComponent>
                        </Body>
                    </Blazor.AdminLte.Card>
                </Blazor.AdminLte.Column>
                <Blazor.AdminLte.Column Width="Width.Six" Size="Size.Medium">
                    <Blazor.AdminLte.Card HeaderBackgroundColor="Color.Primary" ToolOptions="new CardToolOptions { Collapsable = true}">
                        <Title><Blazor.AdminLte.CardTitle>Sine</Blazor.AdminLte.CardTitle></Title>
                        <Header><CardTools /></Header>
                        <Body>
                            <SineLineChartComponent></SineLineChartComponent>
                        </Body>
                    </Blazor.AdminLte.Card>
                </Blazor.AdminLte.Column>
            </Blazor.AdminLte.Row>
        </Body>
    </Blazor.AdminLte.Card>
    <Blazor.AdminLte.Card>
        <Title>Various Charts</Title>
        <Body>
            <Blazor.AdminLte.Row>
                <Blazor.AdminLte.Column Width="Width.Six" Size="Size.Medium">
                    <Blazor.AdminLte.Card HeaderBackgroundColor="Color.Primary" ToolOptions="new CardToolOptions { Collapsable = true}">
                        <Title><Blazor.AdminLte.CardTitle>Bubble</Blazor.AdminLte.CardTitle></Title>
                        <Header><CardTools /></Header>
                        <Body>
                            <BubbleChartComponent></BubbleChartComponent>
                        </Body>
                    </Blazor.AdminLte.Card>
                </Blazor.AdminLte.Column>
                <Blazor.AdminLte.Column Width="Width.Six" Size="Size.Medium">
                    <Blazor.AdminLte.Card HeaderBackgroundColor="Color.Primary" ToolOptions="new CardToolOptions { Collapsable = true}">
                        <Title><Blazor.AdminLte.CardTitle>Doughnut</Blazor.AdminLte.CardTitle></Title>
                        <Header><CardTools /></Header>
                        <Body>
                            <DoughnutChartComponent></DoughnutChartComponent>
                        </Body>
                    </Blazor.AdminLte.Card>
                </Blazor.AdminLte.Column>
            </Blazor.AdminLte.Row>
            <Blazor.AdminLte.Row>
                <Blazor.AdminLte.Column Width="Width.Six" Size="Size.Medium">
                    <Blazor.AdminLte.Card HeaderBackgroundColor="Color.Primary" ToolOptions="new CardToolOptions { Collapsable = true}">
                        <Title><Blazor.AdminLte.CardTitle>Pie</Blazor.AdminLte.CardTitle></Title>
                        <Header><CardTools /></Header>
                        <Body>
                            <PieChartComponent></PieChartComponent>
                        </Body>
                    </Blazor.AdminLte.Card>
                </Blazor.AdminLte.Column>
                <Blazor.AdminLte.Column Width="Width.Six" Size="Size.Medium">
                    <Blazor.AdminLte.Card HeaderBackgroundColor="Color.Primary" ToolOptions="new CardToolOptions { Collapsable = true}">
                        <Title><Blazor.AdminLte.CardTitle>Polar</Blazor.AdminLte.CardTitle></Title>
                        <Header><CardTools /></Header>
                        <Body>
                            <PolarAreaChartComponent></PolarAreaChartComponent>
                        </Body>
                    </Blazor.AdminLte.Card>
                </Blazor.AdminLte.Column>
            </Blazor.AdminLte.Row>
            <Blazor.AdminLte.Row>
                <Blazor.AdminLte.Column Width="Width.Six" Size="Size.Medium">
                    <Blazor.AdminLte.Card HeaderBackgroundColor="Color.Primary" ToolOptions="new CardToolOptions { Collapsable = true}">
                        <Title><Blazor.AdminLte.CardTitle>Radar</Blazor.AdminLte.CardTitle></Title>
                        <Header><CardTools /></Header>
                        <Body>
                            <RadarChartComponent></RadarChartComponent>
                        </Body>
                    </Blazor.AdminLte.Card>
                </Blazor.AdminLte.Column>
                <Blazor.AdminLte.Column Width="Width.Six" Size="Size.Medium">
                    <Blazor.AdminLte.Card HeaderBackgroundColor="Color.Primary" ToolOptions="new CardToolOptions { Collapsable = true}">
                        <Title><Blazor.AdminLte.CardTitle>Scatter</Blazor.AdminLte.CardTitle></Title>
                        <Header><CardTools /></Header>
                        <Body>
                            <ScatterChartComponent></ScatterChartComponent>
                        </Body>
                    </Blazor.AdminLte.Card>
                </Blazor.AdminLte.Column>
            </Blazor.AdminLte.Row>
        </Body>
    </Blazor.AdminLte.Card>
</ContentMain>
@code {

}
