@namespace Blazorized.AdminLte.Plugins
<div id="splitcontainer" class="clear-fix row no-gutters splitter-content-editor">
    <div id="left-half_contenteditor" style="display: flex; flex-direction: column; height: inherit;">
        <div class="editorContent">
            <MonacoEditorYaml @ref="_yamlEditor" Id="monacoEditorYaml" Value="@Value" CssClass="editor" />
        </div>

    </div>
    <div id="right-half_contenteditor">
    </div>
</div>
