@page "/"
@namespace Blazorized.AdminLte.Plugins.Site
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Blazor.AdminLte.Site</title>
    <base href="~/" />
    <link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback" />
    <!-- Font Awesome Icons -->
    <link rel="stylesheet" href="_content/Blazorized.AdminLte.Content/plugins/fontawesome-free/css/all.min.css" />
    <!--BlazorMonaco-->
    <link href="_content/BlazorMonacoYaml/lib/monaco-editor-yaml/min/vs/editor/editor.main.css" rel="stylesheet" />
    <!--/BlazorMonaco-->
    <!-- Theme style -->
    <!-- Blazorized.AdmintLte.Plugins -->
    <link rel="stylesheet" href="_content/Blazorized.AdminLte.Plugins/css/monaco.css" />
    <link rel="stylesheet" href="_content/Blazorized.AdminLte.Plugins/css/split.css" />
    <!-- /Blazorized.AdmintLte.Plugins -->
    <link rel="stylesheet" href="_content/Blazorized.AdminLte.Content/dist/css/adminlte.min.css" />
    <link rel="stylesheet" href="_content/Blazorized.AdminLte.Plugins.Shared/css/site.css" />
    <!-- Blazor Chart -->
    <link rel="stylesheet" href="_content/ChartJs.Blazor/ChartJSBlazor.css" />
    <!-- overlay scrollbars -->
    <link type="text/css" href="_content/Blazorized.AdminLte.Content/plugins/overlayScrollbars/css/OverlayScrollbars.min.css" rel="stylesheet" />
    <!-- BPMN Modeler-->
    <link rel="stylesheet" href="_content/Blazorized.AdminLte.Plugins/bpmn/css/diagram-js.css">
    <link rel="stylesheet" href="_content/Blazorized.AdminLte.Plugins/bpmn/css/bpmn.css">

</head>
<body class="hold-transition sidebar-mini sidebar-collapse">
    <div class="wrapper">
        <app>
            <component type="typeof(App)" render-mode="Server" />
        </app>
        <div id="blazor-error-ui">
            <environment include="Staging,Production">
                An error has occurred. This application may no longer respond until reloaded.
            </environment>
            <environment include="Development">
                An unhandled exception has occurred. See browser dev tools for details.
            </environment>
            <a href="" class="reload">Reload</a>
            <a class="dismiss">🗙</a>
        </div>
    </div>
    <!-- jQuery -->
    <script src="_content/Blazorized.AdminLte.Content/plugins/jquery/jquery.min.js"></script>
    <script src="_content/Blazorized.AdminLte.Plugins/js/split.js"></script>
    <!-- overlay scrollbars -->
    <script src="_content/Blazorized.AdminLte.Content/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="_content/Blazorized.AdminLte.Content/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- AdminLTE App -->
    <script src="_content/Blazorized.AdminLte.Content/dist/js/adminlte.min.js"></script>
    <script src="_content/Blazorized.AdminLte/js/interop.js"></script>
    <script src="_framework/blazor.server.js"></script>
    <!-- ChartJs Blazor -->
    <script src="_content/ChartJs.Blazor/moment-with-locales.min.js" type="text/javascript" language="javascript"></script>
    <script src="_content/ChartJs.Blazor/Chart.min.js" type="text/javascript" language="javascript"></script>
    <script src="_content/ChartJs.Blazor/ChartJsBlazorInterop.js" type="text/javascript" language="javascript"></script>
    <!-- Blazorized.AdmintLte.Plugins -->
    <script src="_content/Blazorized.AdminLte.Plugins/js/split.interop.js"></script>
    <!-- /Blazorized.AdmintLte.Plugins -->
    <!-- Import the plotly.js library -->
    <script src="_content/Plotly.Blazor/plotly-latest.min.js" type="text/javascript"></script>
    <!-- Import the plotly.js interop functions -->
    <script src="_content/Plotly.Blazor/plotly-interop.js" type="text/javascript"></script>
    <!--BPMN Modeler -->
    <script src="_content/Blazorized.AdminLte.Plugins/js/bpmn/bpmn-modeler.min.js"></script>
    <script src="_content/Blazorized.AdminLte.Plugins/js/bpmn/bpmn-modeler.interop.js"></script>
    <!--/BPMN Modeler -->
    <!--BlazorMonaco-->
    <!--BlazorMonaco Yaml-->
    <script src="_content/BlazorMonacoYaml/lib/monaco-editor-yaml/min/vs/loader.js"></script>
    <script>require.config({ paths: { 'vs': '_content/BlazorMonacoYaml/lib/monaco-editor-yaml/min/vs' } });</script>
    <script src="_content/BlazorMonacoYaml/lib/monaco-editor-yaml/min/vs/editor/editor.main.js"></script>
    <!--/BlazorMonaco Yaml-->
    <script src="_content/BlazorMonaco/jsInterop.js"></script>
    <!--/BlazorMonaco-->
</body>
</html>
